@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}

.clear{clear:both;}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #F5F9F2;
	max-width:80%;
	min-width: 857px;
	margin: 0 auto;
}

/************************* header logo *************************/
.logo {
	float: left;
}

.header_nav{
	float:right;
	margin-top:38.5px;
}
.header_nav li{
	display:inline;
	border-left:1px dotted #CCC;
}
.header_nav li:first-child{
	border:none;
}
.header_nav li a{
	font-size:15px;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
}
.header_nav li a:hover{
	color:#5E7CA1;
}

/************************* menu bar *************************/
.menu_bar {
	background: #7399C5;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-rfadius: 6px;
	-o-border-radius: 6px;
}
.menu {
	float: left;
}
.menu li {
	float:left;
}
.menu li a {
	font-family: 'ambleregular';
	font-size:0.823em;
	text-transform:uppercase;
	color: #fff;
	display:block;
	padding:16px 20px;
	border-right: 1px ridge #9C9C9C;
    -webkit-transition: all .9s;
   -moz-transition: all .9s;
   -o-transition: all .9s;
   -ms-transition: all .9s;
   transition: all .9s;
}
.menu li a:hover,.menu li.active a{
	background:#5E7CA1;
}
.menu li:first-child  a{
	border-radius:6px 0 0 6px;
	-webkit-border-radius:6px 0 0 6px;
	-moz-border-rfadius:6px 0 0 6px;
	-o-border-radius:6px 0 0 6px;
}
.search_box {
	float: right;
	border: 1px solid #fff;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	position: relative;
	margin-top:10px;
	margin-right: 15px;
	width:25%;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:12px;
	color: #acacac;
	width:75%;
	padding:5px;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../img/search.png) no-repeat 0px 7px;
	position: absolute;
	right: 0;
	top: -3px;
	width: 20px;
	height: 25px;
}

/************************* CONTENT *************************/

/************************* category & picture *************************/
.category_picture{
	margin-top:10px;

}
.categories{
	border:1px solid #EEE;
	border-radius:6px 0 0 0;
	float:left;
	width: 25%;
}
.categories h3{
	font-size:1.2em;
	color:#FFF;
	padding:8px;
	background:#5E7CA1;
	text-transform:uppercase;
	font-family: 'ambleregular';
	border-radius:6px 0 0 0;
}
.categories li a{
	display:block;
	font-size:0.8em;
	padding:8px 15px;
    color: #9C9C9C;
    font-family: 'ambleregular';
    margin:0 20px;
    background:url(../img/drop_arrow.png) no-repeat 0;
    border-bottom: 1px solid #EEE;
    text-transform:uppercase;	
}
.categories li:last-child a{
	border:none;
}
.categories li a:hover{
	color:#5E7CA1;
}
/************************* promotion overview *************************/
.index_right_content{
	float:right;
	width:74%;
}
.promotion_bar{
	border: 1px solid #EEE;
	border-radius: 0 6px 0 0;
	background:#5E7CA1; 
}
.heading {
	float: left;
}
.heading h3 {
	padding:8px;
	font-family: 'ambleregular';
	font-size:20px;
	color:#FFF;
	text-transform: uppercase;
}
.see_all {
	float: right;
	padding:8px;
}
.see_all p a{
	display: inline;
	font-size: 0.75em;
	color: #F5F9F2;
	background: url(../img/list-img.png) no-repeat right ;
    padding-right:12px ;
}
.see_all p a:hover{
	color: #4F4F4F;
}
/************************* product box *************************/
.product_box{
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	width: 20%;
	height: 20%;
	padding: 1.5%;
	text-align: center;
	position: relative;
	background: #FFF;
}
.tb_promo:last-child {
	margin-right: 0%;
}
.product_box img{
	max-width: 100%;
	margin-bottom: 8px;
}
.product_box  h2 {
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size:1.1em;
	font-weight: normal;
}
.price_details p{
	margin-top:8px;
	border-top:1px solid #EEE;
	padding-top: 5px;
	font-size:1.1em;
	font-family: 'ambleregular';
	color:#4F4F4F;
}


/************************* register form *************************/
.register_form{
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 1.5%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
	margin-top: 20px;
}
.register_form h2{
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: bold;
}
.register_form input[type=text],.register_form input[type=password] {
	color:#4F4F4F;
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.form_box{
	width: 100%;
}
.form_box tr{
	border-top: 1px solid #ccc;
}
.form_box td:first-child{
	text-align: right;
	padding-right:20px;
	width: 150px;
}
.form_box td:nth-of-type(2){
	width: 260px;
}
.form_box td:nth-of-type(3){
	padding-left: 20px;
}
.form_box .input_date {
	font-family: 'ambleregular';
	color:#4F4F4F;
	padding: 10px 18px;
    margin: 8px 0;
	border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.form_box .input_date {
	font-family: 'ambleregular';
	color:#4F4F4F;
	padding: 8px 18px;
    margin: 8px 0;
	border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}

.clearfix button {
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #5E7CA1;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
.clearfix .cancelbtn {
    padding: 14px 20px;
    background-color: #7399C5;
}
.clearfix .signupbtn .disabled{
	cursor: not-allowed;
	opacity: 60%;
}
.clearfix .cancelbtn,.clearfix .signupbtn {
    float: left;
    margin-right: 5px;
    width: 125px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/************************* login form *************************/
.login_form{
	width: 500px;
	border-radius: 4px;
}
.login_form input[type=text],.login_form input[type=password] {
    width: 300px;
    margin-left: 100px;
}
.login_form .cancelbtn{
	float: right;
	width: 300px;
	margin-right: 100px;
	padding: 10px 0;
}
.login_form a {
	color:#4F6C92;
	font-family: 'ambleregular';
	float: right;
	margin-right: 100px;
}
.login_form a:hover {
	color: Blue;
	text-decoration: none;
}

/************************* pricelist table *************************/
.pricelist_box{
	float:right;
	width: 72%;
}
.pricelist_box h3{
	font-size:1.1em;
	color:#fff;
	padding:8px;
	font-family: 'ambleregular';
	background:#5E7CA1; 
}
.pricelist_tb{
	border:1px solid #CECECE;
}
.pricelist_tb th{
	padding: 8px;
	font-size: 16px;
	font-family: 'ambleregular';
	color:#4F4F4F;
	text-align: center;
	vertical-align: middle;
	border:1px solid #CECECE;
	border-collapse: collapse;
}
.pricelist_tb td{
	padding: 2px;
	font-size: 14px;
	font-family: 'ambleregular';
	color:#4F4F4F;
	text-align: center;
	vertical-align: middle;
	border:1px solid #CECECE;
	border-collapse: collapse;
}
.pricelist_tb a { 
	color:#4F4F4F;
	display: block;
}
.pricelist_tb a:hover {
	color:#5E7CE4;
}
.pricelist_tb td:nth-of-type(1) , .pricelist_tb td:nth-of-type(2){
	text-align: left;
}
.pricelist_tb th:nth-of-type(1),.pricelist_tb td:nth-of-type(1){
	width: 15%;
}
.pricelist_tb th:nth-of-type(2),.pricelist_tb td:nth-of-type(2){
	width: 30%;
}
.pricelist_tb th:nth-of-type(3),.pricelist_tb td:nth-of-type(3){
	width: 10%;
}
.pricelist_tb th:nth-of-type(4),.pricelist_tb td:nth-of-type(4){
	width: 10%;
}
.pricelist_tb th:nth-of-type(5),.pricelist_tb td:nth-of-type(5){
	width: 10%;
}
.pricelist_tb th:nth-of-type(6),.pricelist_tb td:nth-of-type(6){
	width: 10%;
}

/************************* full page style *************************/
.full_page{
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 3%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
	margin-top: 10px;
}
/************************* preview product *************************/
.pic_box img{
	float: left;
	width: 40%;
}
.desc_box{
	float: left;
	width: 50%;
	text-align: center;
}
.preview_box{
	width: 70%;
}
.preview_categories{
	float: right;
	width: 30%;
}
.preview_categories h3{
	border-radius: 0px;
}

/************************* contact *************************/
.contact_box{
	float: left;
	width: 60%;
}
.contact_box h3{
	font-size: 1.3em;
}
.contact_box p{
	font-size: 14px;
	margin: 12px 0 8px 0;
}
.contact_box input{
	width: 100%;
}
.submit_bt{
	float: right;
	background: #5E7CA1;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px 18px;
	margin:10px -7px 0 0;
}
.contact_text_box{
	float: right;
	width: 33%;
}

/************************* footer *************************/
.footer {
	position: relative;
	background: #F5F9F2;
    border-top: 1px solid #CECECE;
    margin:20px auto;
}
.section {
	margin: auto;
}

.section td {
	margin:0% 0 1% 3.6%;
}
.section td {
	width: 200px;
	padding:1.5% 1.5% 0 0;
}
.section  h4 { /** title **/
	color:#4F4F4F;
	margin-bottom: .7em;
	font-size: 1em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
}
.section  li a { /** link **/
	font-size: 0.85em;
	padding:8px 15px;
	color:#5E7CA1;
	font-family: 'ambleregular';
	display: block;
	background:url(../img/drop_arrow.png) no-repeat 0;
}
.section  li a:hover {
	color:#2A5C86;
}
.section  li span{ /** Tel **/
	font-size:0.95em;
	font-family: 'ambleregular';
	color:#5E7CA1;
	margin:10px 0;
	display:block;
}
.section td  img{
	height: 22px;
}

.copy_right {
	text-align: center;
	border-top: 1px solid #EEE;
	padding: 10px 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.copy_right p {
	font-size:0.823em;
	color: #747474;
}
.copy_right p a {
	color:#4F6C92;
	font-family: 'ambleregular';
}
.copy_right p a:hover {
	color:#7399C5;
	text-decoration: none;
}


