@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}

.clear{clear:both;}

body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'ambleregular';
	background: #F5F9F2;
	max-width:80%;
	min-width: 857px;
	margin: 0 auto;
}

/************************* header logo *************************/
.logo {
	float: left;
}

.header_nav{
	float:right;
	margin-top:38.5px;
}
.header_nav li{
	display:inline;
	border-left:1px dotted #CCC;
}
.header_nav li:first-child{
	border:none;
}
.header_nav li a{
	font-size:15px;
	color:#9C9C9C;
	padding:0 10px;
	font-family: 'ambleregular';
}
.header_nav li a:hover{
	color:#5E7CA1;
}
.cart_img{
	float: left;
	position: relative;
	top: -12px;
	left: 10px
}

/************************* menu bar *************************/
.menu_bar {
	background: #7399C5;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-rfadius: 6px;
	-o-border-radius: 6px;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.menu {
	float: left;
}
.menu li {
	float:left;
}
.menu li a {
	font-family: 'ambleregular';
	font-size:14px;
	text-transform:uppercase;
	color: #fff;
	display:block;
	padding:16px 20px;
	border-right: 1px ridge #9C9C9C;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
}
.menu li a:hover,.menu li.active a{
	background:#5E7CA1;
}
.menu li:first-child  a{
	border-radius:6px 0 0 6px;
	-webkit-border-radius:6px 0 0 6px;
	-moz-border-rfadius:6px 0 0 6px;
	-o-border-radius:6px 0 0 6px;
}
.search_box {
	float: right;
	border: 1px solid #fff;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	position: relative;
	margin-top:10px;
	margin-right: 15px;
	width:25%;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:12px;
	color: #4F4F4F;
	width:75%;
	padding:5px;
}
.search_box form input[type="submit"]{
	border: none;
	cursor: pointer;
	background: url(../img/search.png) no-repeat 0px 7px;
	position: absolute;
	right: 0;
	top: -3px;
	width: 20px;
	height: 25px;
}

/************************* CONTENT *************************/

/************************* category & picture *************************/
.category_picture{
	margin-top:10px;

}
.categories{
	border:1px solid #D1D1D1;
	border-radius:6px 0 0 0;
	float:left;
	width: 25%;
}
.categories h3{
	font-size:1.2em;
	color:#FFF;
	padding:8px;
	background:#5E7CA1;
	text-transform:uppercase;
	font-family: 'ambleregular';
	border-radius:6px 0 0 0;
}
.categories li a{
	display:block;
	font-size:0.9em;
	padding:8px 15px;
    color: #666666;
    font-family: 'ambleregular';
    margin:0 20px;
    background:url(../img/drop_arrow.png) no-repeat 0;
    border-bottom: 1px solid #D1D1D1;
    text-transform:uppercase;	
}
.categories li:last-child a{
	border:none;
}
.categories li a:hover{
	color:#5E7CA1;
}
/************************* promotion overview *************************/
.index_right_content{
	float:right;
	width:74%;
}
.promotion_bar{
	border: 1px solid #EEE;
	border-radius: 0 6px 0 0;
	background:#5E7CA1; 
}
.heading {
	float: left;
}
.heading h3 {
	padding:8px;
	font-family: 'ambleregular';
	font-size:20px;
	color:#FFF;
	text-transform: uppercase;
}
.see_all {
	float: right;
	padding:8px;
}
.see_all p a{
	display: inline;
	font-size: 0.75em;
	color: #F5F9F2;
	background: url(../img/list-img.png) no-repeat right ;
    padding-right:12px ;
}
.see_all p a:hover{
	color: #4F4F4F;
}
/************************* product box *************************/
.pname{
	width: 100%;
	word-wrap:break-word;
}
.product_box{
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	width: 20%;
	height: 20%;
	padding: 1.5%;
	position: relative;
	background: #FFF;
	transition: all .2s ease-in-out;
	table-layout: fixed;
}
.product_box:hover{
	transform: scale(1.1); 
}
.tb_promo:last-child {
	margin-right: 0%;
}
.product_box img{
	max-width: 100%;
	margin-bottom: 8px;
}
.product_box  h2 {
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size:0.9em;
	font-weight: normal;
}
.price_details p{
	margin-top:8px;
	border-top:1px solid #EEE;
	padding-top: 5px;
	font-size:1.1em;
	font-weight: bold;
	font-family: 'ambleregular';
	color:#4F4F4F;
	word-wrap:break-word;
}
.price_details del{
	margin-right:8px;
	font-size:0.7em;
	font-weight: normal;
}
.addtocart{
	background: white;
	color: #4F4F4F;
	font-size: 14px;
	font-family: 'ambleregular';
	border: 2px solid #7399C5;
	border-radius: 18px;
	padding: 4px 16px;
	margin-top: 8px;
}
.addtocart:hover{
	background: #7399C5;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.cantadd:hover{
	cursor: not-allowed;
	
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    font-size: 14px;
	font-family: 'ambleregular';
    text-align: center;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%; 
    margin-left: -60px;
    box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 1;
}

/************************* register form *************************/
.register_form {
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 1.5%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
	margin-top: 20px;
}
.register_form h2{
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: bold;
}
.register_form input[type=text],.register_form input[type=password],.register_form textarea ,.add_product_tb input[type=text],.add_product_tb textarea,.add_product_tb input[type=number]{
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 15px;
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.form_box{
	width: 100%;
}
.form_box tr ,.add_product_tb tr{
	border-top: 1px solid #ccc;
}
.form_box td:first-child ,.add_product_tb td:first-child{
	text-align: right;
	vertical-align: middle;
	padding-right:20px;
	width: 30%;
}
.form_box td:nth-of-type(2),.add_product_tb td:nth-of-type(2){
	width: 50%;
}
.form_box td:nth-of-type(3),.add_product_tb td:nth-of-type(3){
	padding-left: 20px;
}
.form_box .input_addr, .form_box .input_date, .add_product_tb .input_select {
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 15px;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}

.clearfix button {
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #5E7CA1;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
.clearfix .cancelbtn {
    padding: 14px 20px;
    background-color: #7399C5;
}
.clearfix .signupbtn .disabled{
	cursor: not-allowed;
	opacity: 60%;
}
.clearfix .cancelbtn,.clearfix .signupbtn {
    float: left;
    margin-right: 5px;
    width: 125px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.signupbtn:hover{
	background-color: #7399C5;
}
.cancelbtn:hover{
	background-color: #5E7CA1;
}
.cancelbtn:hover,.signupbtn:hover{
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

/************************* login form *************************/
.login_form{
	width: 500px;
	border-radius: 4px;
}
.login_form input[type=text],.login_form input[type=password] {
    width: 300px;
    margin-left: 100px;
    font-family: 'ambleregular';
	font-size: 15px;
}
.login_form .cancelbtn{
	float: right;
	width: 300px;
	margin-right: 100px;
	padding: 10px 0;
}
.login_form a {
	color:#4F6C92;
	font-family: 'ambleregular';
	float: right;
	margin-right: 100px;
}
.login_form a:hover {
	color: Blue;
	text-decoration: none;
}

/************************* pricelist table *************************/
.pricelist_box{
	float:right;
	width: 72%;
	margin-bottom: 10px;
}
.pricelist_box h3{
	font-size:1.3em;
	color:#fff;
	padding:8px;
	font-family: 'ambleregular';
	background:#5E7CA1; 
}
.pricelist_tb,.product_tb{
	border:1px solid #CECECE;
	background: white;
	width: 100%;
	table-layout: fixed;
	word-wrap:break-word;
}
.pricelist_tb th,.product_tb th,.ucart_tb th,.order_tb th,.admin_con_tb th{
	background:#7399C5;
	padding: 8px;
	font-size: 15px;
	font-family: 'ambleregular';
	color:white;
	text-align: center;
	vertical-align: middle;
	border:1px solid #CECECE;
	border-collapse: collapse;
}
.pricelist_tb td,.product_tb td,.ucart_tb td,.order_tb td,.admin_con_tb td{
	padding: 2px;
	font-size: 15px;
	font-family: 'ambleregular';
	color:#4F4F4F;
	text-align: center;
	vertical-align: middle;
	border:1px solid #CECECE;
	border-collapse: collapse;
}
.pricelist_tb a  ,.product_tb a{ 
	color:#4F4F4F;
	display: block;
}
.pricelist_tb a:hover ,.product_tb a:hover{
	color:#5E7CE4;
}
.pricelist_tb td:nth-of-type(2){
	text-align: left;
}
.pricelist_tb th:nth-of-type(1){
	width: 11%;
}
.pricelist_tb th:nth-of-type(2){
	width: 45%;
}
.pricelist_tb th:nth-of-type(3){
	width: 15%;
}
.pricelist_tb th:nth-of-type(4){
	width: 13%;
}
.pricelist_tb th:nth-of-type(5){
	width: 15%;
}
.pricelist_tb th:nth-of-type(6){
	width: 14%;
}

/************************* full page style *************************/
.full_page{
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 3%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
	margin-top: 10px;
}
/************************* preview product *************************/
.pic_box img{
	float: left;
	width: 40%;
}
.desc_box{
	float: right;
	width: 50%;
	padding-top: 16px;
}
.desc_box p{
	margin-bottom: 8px;
	font-size: 16px;
}
.desc_box li{
    margin-left: 20px;
    background:url(../img/drop_arrow.png) no-repeat 0;
    padding:8px 8px 8px 14px;
    font-size: 15px;
}
.desc_box h2{
	font-size: 24px;
	margin-top: 10px;
}
.desc_box span{
	font-size: 15px;
	margin-left: 10px;
	color: #9C9C9C;
}
.preview_box{
	width: 70%;
	margin: auto
}
.preview_box h3{
	padding-bottom: 8px;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.detail_box p{
	margin-bottom: 0.6em;
}
.detail_tb{
	width: 100%;
	font-size: 15px;
	font-weight: normal;
}
.detail_tb td:first-child{
	padding: 8px 0 8px 10%;
	width: 45%;
	
}
.detail_tb tr:nth-child(odd){
	background: #F9F9F9;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

/************************* contact *************************/
.contact_box{
	float: left;
	width: 55%;
	margin-left: 10%; 
}
.contact_box h3{
	font-size: 1.3em;
	margin-bottom: 18px;
}
.contact_box p{
	font-size: 15px;
	margin: 12px 0 8px 0;
}
.contact_box input{
	width: 100%;
	padding: 10px;
	font-family: 'ambleregular';
	border: 1px solid #CECECE;
}
.contact_box textarea{
	width: 100%;
	font-family: 'ambleregular';
	padding: 10px;
	border: 1px solid #CECECE;
}
.submit_bt{
	font-family: 'ambleregular';
	font-size: 15px;
	float: right;
	color: white;
	background: #5E7CA1;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 26px;
	margin:10px -23px 0 0;
	cursor: pointer;
}
.contact_text_box{
	float: right;
	width: 25%;
	margin-right: 3%;
}
.contact_text_box h3{
	font-size: 1.3em;
	margin-bottom: 12px;
}
.contact_text_box p{
	font-size: 14px;
	padding: 8px 0; 
}

/************************* about us *************************/
.about_text h3{
	color:#4F4F4F;
	font-size: 1.35em;
	margin-bottom: 10px;
}
.about_text{
	width: 80%;
	margin: auto;
}
.about_text p{
	color:#4F4F4F;
	line-height: 1.5;
	font-family: 'ambleregular';
}
.about_text p span{
	color:#4F4F4F;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 40px;
	font-family: 'ambleregular';
}
.policy_tb td{
	width: 16%;
	margin-left: 1%;
	color: #7399C5;
	font-family: 'ambleregular';
	font-size: 18px;
	line-height: 1.1;
	text-align: center;
	vertical-align: middle;
}
.policy_tb td:last-child{
	margin-left: 0;
}
.policy_img {
	width: 80%;
	margin: auto;
	transition: all .2s ease-in-out;
}
.dlz_img{
	width: 50%;
	margin: auto;
	transition: all .2s ease-in-out;
}
.policy_tb img:hover { 
	transform: scale(1.3); 
}
.policy_tb td p{
	padding-top: 8px;
	line-height: 1.3;
	font-size:15px; 
	color: #4F4F4F;
}

/************************* My account *************************/
.user_full{
	width: 100%;
	margin-top: 30px;
}
.user_left{
	width: 25%;
	max-width: 300px;
	float: left;
}
.user_right{
	width: 50%;
	max-width: 500px;
	float: left;
	margin-left: 10%;
}
.user_menu{
	width: 100%;
	text-align: left;
	font-size: 1em;
	font-family: 'ambleregular';

}
.user_menu td  a{
	color :#468CA0;
	padding: 12px;
	display:block;
    -webkit-transition: all .2s;
   	-moz-transition: all .2s;
   	-o-transition: all .2s;
   	-ms-transition: all .2s;
   	transition: all .2s;
}
.user_menu td{
	border-bottom: 1px solid #D1D1D1;
}
.user_menu td a:hover  , .user_menu .active , .user_menu .active a{
	background:#7399C5;
	color: white;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.user_menu th{
	text-align: left;
	padding: 14px 0 6px 20px;
	color:#fff;
	font-size: 1.2em;
	background: #7399C5;
	border-radius: 6px 6px 0 0; 
}
.user_contact{
	width: 100%;
	margin-bottom: 30px;
}
.user_contact th:first-child{
	width: 30%;
	text-align: left;
	padding: 14px 0 6px 20px;
	color:#fff;
	font-size: 1.2em;
	font-family: 'ambleregular';
	background: #7399C5;
	border-radius: 6px 6px 0 0; 
}
.user_menu th:first-child{
	background: #468CA0;
}
.user_contact tr:first-child{
	border-bottom: 2px solid #5E7CA1;
	width: 40%;
}
.user_contact td{
	padding: 12px;
	vertical-align: middle;
	border-bottom: 1px solid #D1D1D1;
	font-family: 'ambleregular';
	line-height:20px;
	background: white;
}
.user_contact td:first-child{
	width: 38%;
	text-align: right;
	color: #4F4F4F;
}
.user_contact td:nth-child(2){
	width: 62%;
}
.edit_link{
	font-family: 'ambleregular';
	color:#fff;
	float: right;
	padding-right: 10px;
	font-size: 14px;
	font-weight: normal;
}
.edit_link img{
	padding-right: 4px;
}

/************************* edit *************************/
.form_input input[type=text],.form_input input[type=password],.form_input input[type=date] ,.form_input textarea {
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 15px;
    width: 100%;
    padding: 8px 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.user_contact button {
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #5E7CA1;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
.user_contact .cancelbtn {
    padding: 14px 20px;
    background-color: #7399C5;
}
.user_contact .signupbtn .disabled{
	cursor: not-allowed;
	opacity: 60%;
}
.user_contact .cancelbtn,.user_contact .signupbtn {
    float: left;
    margin-right: 5px;
    width: 45%;
}
.user_contact::after {
    content: "";
    clear: both;
    display: table;
}

/************************* admin product *************************/
.admin_right{
	width:74%;
	float: right;
}
.admin_right h2{
	font-size:1.1em;
	color:#fff;
	padding:8px;
	font-family: 'ambleregular';
	background:#5E7CA1; 
	border-radius: 6px 6px 0 0; 
}
.admin_search_box {
	border: 1px solid #9C9C9C;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	position: relative;
	width:40%;
	padding: 4px;
	margin-bottom: 10px;
	float: left;
}
.admin_search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:14px;
	color: #4F4F4F;
	width:75%;
	padding:5px;
	font-family: 'ambleregular';
}
.admin_search_box form input[type="submit"]{
	border: none;
	cursor: pointer;
	background: url(../img/search.png) no-repeat 0px 7px;
	position: absolute;
	right: -10px;
	top: 3px;
	width: 35px;
	height: 40px;
}
.sortby_tool{
	border: 1px solid #9C9C9C;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	padding: 8px 4px 8px 4px;
	font-size:14px;
	color: #A9A9A9;
	font-family: 'ambleregular';
	margin-left: 10px;
}
.product_tb{
	width: 100%;
	margin-bottom: 10px;
}
.product_tb td{
	font-size:15px;
}
.product_tb td:nth-child(1){
	width: 10%;
}
.product_tb td:nth-child(2){
	width: 30%;
}
.product_tb td:nth-child(3){
	width: 10%;
}
.product_tb td:nth-child(4){
	width: 10%;
}
.product_tb td:nth-child(5){
	width: 10%;
}
.product_tb td:nth-child(6){
	width: 10%;
}

/************************* add product *************************/
.add_product_form h3{
	color: #4F4F4F;
	font-family: 'ambleregular';
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2;
}
.add_product_form{
	width: 90%;
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 1.5%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
}
.add_bt {
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #7399C5;
    color: white;
    padding: 10px;
    margin-bottom:  10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 125px;
}
.filecon {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    top: 18px;
    left: 0px;

    font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #7399C5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.filecon [type=file] {
    cursor: inherit;
	display: none;
}

/************************** cart **************************/
.ucart_right{
	width: 70%;
	float: left;
	margin-left: 5%;
}
.ucart_box{
	max-width: 700px;
}
.ucart_box h3{
	font-size:1.1em;
	color:#fff;
	padding:8px;
	font-family: 'ambleregular';
	background:#5E7CA1; 
	border-radius: 6px 6px 0 0; 
}
.ucart_tb {
	text-align: center;
	table-layout: fixed;
}
.ucart_tb td{
	font-size: 15px;
	font-family: 'ambleregular';
	background: white;
}
.ucart_tb th:nth-child(1){
	width: 50%;
}
.ucart_tb th:nth-child(2){
	width: 15%;
}
.ucart_tb th:nth-child(3){
	width: 12.5%;
}
.ucart_tb th:nth-child(4){
	width: 16%;
}
.ucart_tb th:nth-child(5){
	width: 10%;
}
.ucart_tb td:nth-child(1){
	text-align: left;
	padding-left: 10px;
	word-wrap:break-word;
}
.cartbt{
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #7399C5;
    color: white;
    padding: 8px 0px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    float: right;
    margin-left: 5px;
}
.cartbt:hover{
	background-color: #5E7CA1;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.empcart{
	font-family: 'ambleregular';
	font-size: 1em;
	text-align: center;
}

/************************* order list *************************/
.order_tb{
	text-align: center;
	table-layout: fixed;
}
.order_tb th,.order_tb td{
	padding: 8px;
	line-height: 18px;
}
.order_tb th:nth-child(1),.order_tb td:nth-child(1){
	width: 8%;
}
.order_tb th:nth-child(2),.order_tb td:nth-child(2){
	width: 15%;
}
.order_tb th:nth-child(3),.order_tb td:nth-child(3){
	width: 45%;
	word-wrap:break-word;
	text-align: left;
}
.order_tb th:nth-child(4),.order_tb td:nth-child(4){
	width: 12.5%;
}
.order_tb th:nth-child(5),.order_tb td:nth-child(5){
	width: 14%;
}

.admin_order th:nth-child(3),.admin_order td:nth-child(3){
	width: 30%;
	word-wrap:break-word;
	text-align: left;
}
.admin_order th:nth-child(4),.admin_order td:nth-child(4){
	width: 30%;
	word-wrap:break-word;
	text-align: left;
}
.admin_order th:nth-child(5),.admin_order td:nth-child(5){
	width: 10%;
}

/************************* user management *************************/
.admin_user th:nth-child(1),.admin_user td:nth-child(1){
	width: 10%;
	word-wrap:break-word;
}
.admin_user th:nth-child(2),.admin_user td:nth-child(2){
	width: 33%;
	word-wrap:break-word;
	text-align: left;
}
.admin_user th:nth-child(3),.admin_user td:nth-child(3){
	width: 33%;
	word-wrap:break-word;
	text-align: left;
}
.admin_user th:nth-child(4),.admin_user td:nth-child(4){
	width: 17%;
	word-wrap:break-word;
}
.admin_user th:nth-child(5),.admin_user td:nth-child(5){
	width: 13%;
	word-wrap:break-word;
}

/************************* user message *************************/
.user_message_scroll{
	font-size: 15px;
	height: 280px;
	width: 92%;
	overflow: auto;
	padding: 20px;
	font-family: 'ambleregular';
	border: 1px solid #CECECE;
	margin:10px 0px;
	background-color: white;
}
.user_message_scroll .admin_mes{
	word-wrap:break-word;
	float: left;
	max-width: 60%;
	background-color: #F1F0F0;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 3px;
}
.user_message_scroll .user_mes{
	word-wrap:break-word;
	float: right;
	max-width: 60%;
	background-color: #5E7CA1;
	/*background-color: #7646FF;*/
	color: white;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 3px;
}
.umessage{
	width: 80%;
	padding: 10px;
	font-family: 'ambleregular';
	border: 1px solid #CECECE;
}
.sendbt{
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #5E7CA1;
    color: white;
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}
.sendbt:hover{
	background-color: #7399C5;
}

/************************* admin message *************************/
.admin_con_tb {
	text-align: center;
	table-layout: fixed;
}
.admin_con_tb th:nth-child(1),.admin_con_tb td:nth-child(1){
	width: 6%;
}
.admin_con_tb th:nth-child(2),.admin_con_tb td:nth-child(2){
	width: 20%;
	word-wrap:break-word;
	text-align: left;
}
.admin_con_tb th:nth-child(3),.admin_con_tb td:nth-child(3){
	width: 20%;
	word-wrap:break-word;
	text-align: left;
}
.admin_con_tb th:nth-child(4),.admin_con_tb td:nth-child(4){
	width: 34%;
}
.admin_con_tb th:nth-child(5),.admin_con_tb td:nth-child(5){
	width: 8%;
}

.user_read_con p{
	font-family: 'ambleregular';
	word-wrap:break-word;
	padding: 5px;
	line-height: 1.2;
}

/************************* footer *************************/
.footer {
	position: relative;
	background: #F5F9F2;
    border-top: 1px solid #CECECE;
    margin:20px auto;
}
.section {
	margin: auto;
}

.section td {
	margin:0% 0 1% 3.6%;
}
.section td {
	width: 200px;
	padding:1.5% 1.5% 0 0;
}
.section  h4 { /** title **/
	color:#4F4F4F;
	margin-bottom: .7em;
	font-size: 1em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
}
.section  li a { /** link **/
	font-size: 0.925em;
	padding:8px 15px;
	color:#5E7CA1;
	font-family: 'ambleregular';
	display: block;
	background:url(../img/drop_arrow.png) no-repeat 0;
}
.section  li a:hover {
	color:#2A5C86;
}
.section  li span{ /** Tel **/
	font-size:0.97em;
	font-family: 'ambleregular';
	color:#5E7CA1;
	margin:10px 0;
	display:block;
}
.section td  img{
	height: 22px;
}

.copy_right {
	text-align: center;
	border-top: 1px solid #EEE;
	padding: 10px 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.copy_right p {
	font-size:0.823em;
	color: #747474;
}
.copy_right p a {
	color:#4F6C92;
	font-family: 'ambleregular';
}
.copy_right p a:hover {
	color:#7399C5;
	text-decoration: none;
}